{% from "macros/form_helpers.html" import common_form_field, login_form_field %}


{% if current_user.is_anonymous() %}
    <section class="login-header">
        <form action="{{ url_for('base.login') }}" method="POST" class="login-form">
            {{ login_form.hidden_tag() }}
            {{ login_form_field(login_form.email, class_='input form-control') }}
            {{ login_form_field(login_form.password, class_='input form-control') }}
            <input type="submit" class="btn btn-primary" value="Log in">
        </form>
    </section>
{% else %}
    <section class="login-header login-header_logout">
        <form action="{{ url_for('base.logout') }}" method="POST" class="login-form">
            {{ login_form.hidden_tag() }}
            <input type="submit" class="button login-form__submit" value="Logout">
        </form>
    </section>
{% endif %}
