{% from "macros/form_helpers.html" import common_form_field %}


{% if current_user.is_anonymous %}
    <form action="{{ url_for('base.login') }}" method="POST" class="common-form">
        {{ form.csrf_token }}
        {{ common_form_field(form.email, class_='input common-form__input') }}
        {{ common_form_field(form.password, class_='input common-form__input') }}
        <div class="common-form__field-wrapper">
            <label class="common-form__label">&nbsp;</label>
            <input type="submit" class="button common-form__submit" value="Log in">
        </div>
    </form>
{% else %}
    <div class="page__content">
        <p>You the Boss!</p>
    </div>
{% endif %}
