{% from "macros/form_helpers.html" import render_field %}


<nav class="nav nav-bar" role="navigation">
    <ul class="navigation__list">
        {% for nav_item in navigation %}
            <li class="nav nav-bar{% if nav_item.url in request.path  %} active{% endif %}">
                {% if request.path != nav_item.url %}
                    <a href="{{ nav_item.url }}" class="nav">
                    <span class="nav nav-bar">{{ nav_item.name }}</span>
                {% else %}
                    <span class="nav nav-bar disabled">{{ nav_item.name }}</span>
                {% endif %}
                {% if nav_item.counter %}
                    <sup class="nav nav-bar">{{ nav_item.counter }}</sup>
                {% endif %}
                {% if request.path != nav_item.url %}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
