{% macro common_form_field(field) %}
    <div class="">
        {% if field.label.text %}
            <label class="info" for="{{ field.id }}">
                {{ field.label.text }}: {% if field.flags.required %} <span style="color:red;">*</span>{% endif %}
            </label>
        {% endif %}
        {{ field(**kwargs) }}
        {% if field.errors %}
            <div class="error">
                <ul>
                    {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endmacro %}


{% macro login_form_field(field) %}
    <div class="login-form__field-wrapper">
        {% if field.label.text %}
            <label for="{{ field.id }}">{{ field.label.text }}:&nbsp;</label>
        {% endif %}
        {{ field(**kwargs) }}
    </div>
{% endmacro %}
