<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Flask!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename="css/reset.css") }}">
        <link rel="stylesheet" href="{{ url_for('static', filename="css/typo.css") }}">
        <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">
    </head>

    <body>
        {% block greetings %}
            <h1 class="b-greeting">Hello and <a href="{{ url_for('blueprint.welcome_page') }}">welcome</a>!</h1>
        {% endblock %}
        {% block info %}{% endblock %}
    </body>
</html>